
/* GENERALES */

@import url('https://fonts.cdnfonts.com/css/gotham');

body {
    margin: 0px;
    padding: 0px;
}

a {
    font-family: 'Gotham', sans-serif;
    text-decoration: none;
    color: black;
}

h1,h4{
    color: black;
    font-family: 'Gotham Medium Italic', sans-serif;
}

label, p{
    color: black;
    font-family: 'Gotham', sans-serif;
}





/* MOBILE */

  
  #div_diasAtiende {
    position: absolute;
    margin-left: 10px;
    top:500px;
    background-color: white;
    overflow: hidden; 
  }
  
  ul {
    margin: 0;
    padding: 0;
  }
  
  li {
    float: left;
    display: block;
    width: 14.2857%;
    text-align: center;
    list-style-type: none;
    font-family: 'Gotham Book', sans-serif;
  }
  
  li:nth-child(n+1):nth-child(-n+7) {
    font-weight: 900;
    color: rgb(0 157 218);
    font-family: 'Gotham Book', sans-serif;
    
  }
  
  li:nth-child(n+39), li:nth-child(n+8):nth-child(-n+16) {
  
  }
  
  li:hover:nth-child(n+8):nth-child(-n+38), li:nth-child(17){
    border-radius: 5px;
    background-color: rgb(2, 82, 85);
    color: #ecf0f1;

  }
  
.seccion_principal {
    position: relative;
    width: 100%;
    margin: 20px auto;
    border-top: solid 1px #000;
    border-bottom: solid 1px #000;
}

.nav_menu_paginas_internas {
    position: relative;
    width: 90%;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    border-radius: 10px 0px 10px 10px;
    background-color: rgb(238, 241, 239);   
}
    
.enlace_pagina_interna {
    padding: 10px;
    text-align: center;
    font-size: 1.3rem;
}

.seccion_solicitar_turno {
    position: relative;
    height: 870px;
    width: 100%;
    margin: 0px auto;
    margin-bottom: 20px;
    border-top: solid 1px #000;
    border-bottom: solid 1px #000;
}

.titulo_principal {
    font-size: 40px;
    text-align: center;
}

.seccion_formulario_turno {
    position: relative;
    width: 90%;
    height:81%;
    margin: 0px auto;
    margin-bottom: 20px;
    border-radius: 10px 0px 10px 10px;
    border: solid 2px #000;
    background-color: rgb(238, 241, 239);
}

form {
    width: 90%;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
}

.div_vinculo {
    position: relative;
    top: 30px;
    height: 100px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    border: solid 1px #000;
}

.label_vinculo {
    position: absolute;
    top: 20px;
    left: 5%;
    margin-right: 0px;
    font-family: 'Gotham', sans-serif;
}

.checkbox_vinculo {
    position: absolute;
    top: 16px;
    left: 35px;
    margin-left: 50px;
}

.select_vinculo {
    position: relative;
    top: 50px;
    height: 25px;
    width: 90%;
    margin: 0px auto;
}

.div_alineacion {
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
}

.div_especialidad {
    position: relative;
    height: 60px;
    width: 40%;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.div_profesional {
    position: relative;
    height: 60px;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

select {
    height: 25px;
}

.label_turnos_disponibles {
    margin-bottom: 10px;
    margin-left: 0px;
    font-family: 'Gotham', sans-serif;
    font-weight: 600;
    position:absolute;
    top:230px;
}

.label_turnos_disponibles_hora{
    font-family: 'Gotham', sans-serif;
    font-weight: 600;
    position:absolute;
    top:430px;
    margin-bottom: 10px;
}




input {
    height: 20px;
    width: 400px;
    margin-bottom: 10px;
    font-family: 'Gotham', sans-serif;
}

.div_turnos_disponibles {
    position: relative;
    height: 200px;
    width: 90%;
    border: solid 1px #000;
}

.div_scrollbar {
    height: 100%;
    width: 100%;
    overflow: hidden;
    overflow-y: scroll;
}

.div_contenido {
    padding: 20px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.lista_turnos_disponibles {
    list-style: none;
    padding: 0px;
}

.elemento_turno_disponible {
    height: 50px;
    width: 100%;
    margin-bottom: 10px;
    border: solid 1px #000;
    background-color: whitesmoke;
}

.articulo_turno_disponible {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.boton_seleccionar {
    height: 35px;
}

.div_botones {
    position: absolute;
    top:500px;
    margin-top: 20px;
    margin-bottom: 50px; 
    justify-content: center;
    justify-content: space-between;
}

.boton_reset {
    font-size: 15px;
    height: 35px;
    width: 150px;
    background-color: rgba(208,36,74,50%);
    font-weight: 600;
}

.boton_submit {
    font-size: 15px;
    height: 35px;
    width: 150px;
    font-weight: 600;
    background-color: rgb(0, 218, 73);;
}

/* DESKTOP */
@media screen and (min-width: 900px) {

    .seccion_principal {
        height: 1400px;
      
    }

    .seccion_solicitar_turno {
        top: 140px;
        height: 1250px;
    }

    .titulo_principal {
        font-size: 50px;
    }

    .nav_menu_paginas_internas {
        position: absolute;
        top: 20px;
        right: 40px;
        height: 60px;
        width: 65%;
        display: flex;
        flex-direction: row;  
        align-items: center;
        justify-content: space-around; 
    }

    .enlace_pagina_interna:hover {
        transform: scale(1.1);
    }

    .div_vinculo {
        width: 85%;
        margin: 0px auto;
        margin-bottom: 30px;
    }

    .checkbox_vinculo {
        left: 45px;
    }

    .seccion_formulario_turno {
        position: relative;
        width: 90%;
        height: 980px;
        margin: 0px auto;
        margin-bottom: 10px;
        border-radius: 10px 0px 10px 10px;
        border: solid 2px #000;
        background-color: rgb(238, 241, 239);
    }

  
    #div_diasAtiende {
        top: 260px;
        left: 25px;
        height: 150px;
        width: 1150px;
        border: 1px solid black;
      }
      
      ul {
        margin: 20px;
      }
      
      li {
        padding-top: 10px;
        height: 60px;
        align-items: center;
        justify-content: center;
    
      }
      
      li:nth-child(n+39),
      li:nth-child(n+8):nth-child(-n+16) {
        font-weight: 200;
        color: rgb(2, 82, 85);
      }
      
      li.no-atencion , li.atencion{
        height: 30px;
        width: 155px;
      }
      }
      li.no-atencion:hover,
      li:nth-child(17) {
        pointer-events: none;
        cursor: default;
      }
      
      li.no-atencion{
        border: 1px solid red;
        border-radius: 5px;
      }

      li.atencion{
        border-radius: 5px;
        border: 1px solid rgb(2, 82, 85);
      }


      li.atencion:hover {
        border-radius: 5px;
        background-color: rgb(2, 82, 85);
        color: #ecf0f1;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .no-seleccionable {
        pointer-events: none;
        background-color: transparent !important;
      }
      .div_turnos_disponibles label{
        color: #000;
      }
      
    
      #div_turnosDisponibles {
        position:absolute;
        top:450px;
        left: 25px;
        height: 150px;
        width: 1150px;
        margin-left: 10px;
        border: 1px solid black;
        background-color: white;
      }
      
      #div_turnosDisponibles ul {
           position:absolute;
           top:15px;
      }

      #div_turnosDisponibles li {
        padding: 10px;
        height: 60px;
        width: 130px;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      #div_turnosDisponibles li:hover{
        border-radius: 5px;
        background-color: rgb(2, 82, 85);
        color: #ecf0f1;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      
     
      li.no-disponibles {
        color: red; /* Color de texto para indicar no disponibles */
        font-style: italic; /* Estilo de texto para indicar no disponibles */
      }
      
      #div_resultado{
        position:absolute;
        top:610px;
        left: 25px;
        height: 35px;
        width: 1150px;
        margin-left: 10px;
        border: 1px solid rgb(126, 126, 126);
        background-color: rgba(204, 201, 201, 0.743);
        text-align: center;
     }

     #div_resultado p{
        color: black;
     }
    
    
    .div_botones {
        position: absolute;
        top:895px;
        left:450px;
        justify-content: space-around;
    }

    .boton_reset:hover {
        transform: scale(1.1);
    }

    .boton_submit:hover {
        transform: scale(1.1);
    }

    
    /* drag and drop */

    .div-drag-and-drop {
        width: 96%;
        height: 100px;
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 2px dashed black;
        font-size: 18px;
        position: absolute;
        top:700px;
        left:20px;
    }

    .div-drag-over {
        width: 100%;
        height: 100px;
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 2px dashed blue;
        font-size: 18px;
    }

@media print {
            
    .seccion_principal {
        border: none;
    } 

    .nav_menu_paginas_internas {
        display: none;
    }

    button {
        display: none;
    }

    .seccion_formulario_turno {
        border: none;
        background-color: white;
    }

    .div_vinculo {
        display: none;
    }

    .div_alineacion {
        display: none;
    }

    .seccion_solicitar_turno {
        border: none;
    }

    .label_turnos_disponibles {
        display: none;
    }

    .div_turnos_disponibles {
        border: none;
    }

    .div_scrollbar {
        overflow: visible;
        overflow-y: none;
    }
    
    .boton_reset, .boton_submit {
       display: none;
    }
       
}